@charset "utf-8";


/* :: webfont s :: */
@font-face{
    font-family:"nSquare";
    src:url('/css/fonts/NanumSquareR.eot');
    src:url('/css/fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/NanumSquareR.woff') format('woff');
    src:local("※"), url('/css/fonts/NanumSquareR.woff') format('woff');
}

@font-face{
    font-family:"nSquareB";
    src:url('/css/fonts/NanumSquareB.eot');
    src:url('/css/fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/NanumSquareB.woff') format('woff');
    src:local("※"), url('/css/fonts/NanumSquareB.woff') format('woff');
}

html, input, select, textarea, button {
    font-family: nSquare, '나눔스퀘어', '맑은 고딕', 'Malgun Gothic', AppleGothic, '돋움', Dotum, sans-serif;
}
/* :: webfont e :: */


.wrapper {
    min-width: 360px;
}

.opt-screen-out {
    overflow: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 1px;
}

.opt-fl {
    float: left;
}

.opt-fr {
    float: right;
}

.opt-fc {
    clear: both;
}

.opt-clearfix {
    display: block;
    min-height: 1px;
}

.opt-clearfix:after {
    clear: both;
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
}

.opt-tl {
    text-align: left;
}

.opt-tr {
    text-align: right;
}

.opt-tc {
    text-align: center;
}

.opt-poss {
    position: static;
}

.opt-posr {
    position: relative;
}

.opt-posa {
    position: absolute;
}

.opt-posf {
    position: fixed;
}

.opt-dotline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

/* :: device show/hide s :: */
.opt-mobile-hide {
    display: none;
}

.opt-mobile-tablet-hide {
    display: none;
}

.opt-mobile-web-hide {
    display: none;
}

@media all and (min-width: 768px) {
    .opt-mobile-hide {
        display: block;
    }

    .opt-tablet-hide {
        display: none;
    }

    .opt-mobile-web-hide {
        display: block;
    }

    .opt-tablet-web-hide {
        display: none;
    }

    .opt-max-width-100 {
        max-width: 100px;
    }
}

@media all and (min-width: 1024px) {
    .opt-table-hide {
        display: block;
    }

    .opt-web-hide {
        display: none;
    }

    .opt-mobile-tablet-hide {
        display: block;
    }

    .opt-mobile-web-hide {
        display: none;
    }
}

/* :: device show/hide e :: */


/* :: width s :: */
.opt-width-100 {
    width: 100%;
}

.opt-width-90 {
    width: 90%;
}

.opt-width-80 {
    width: 80%;
}

.opt-width-70 {
    width: 70%;
}

.opt-width-60 {
    width: 60%;
}

.opt-width-50 {
    width: 50%;
}

.opt-width-40 {
    width: 40%;
}

.opt-width-33 {
    width: 33.333333%;
}

.opt-width-30 {
    width: 30%;
}

.opt-width-25 {
    width: 25%;
}

.opt-width-20 {
    width: 20%;
}

.opt-width-16 {
    width: 16.6666666%;
}

.opt-width-14 {
    width: 14.28%;
}

.opt-width-10 {
    width: 10%;
}

@media all and (min-width: 768px) {
    .opt-max-width-100 {
        max-width: 100px;
    }

    .opt-max-width-150 {
        max-width: 150px;
    }

    .opt-max-width-200 {
        max-width: 200px;
    }

    .opt-max-width-250 {
        max-width: 250px;
    }

    .opt-max-width-300 {
        max-width: 300px;
    }

    .opt-max-width-400 {
        max-width: 400px;
    }

    .opt-max-width-500 {
        max-width: 500px;
    }

    .opt-max-width-600 {
        max-width: 600px;
    }
}

/* :: width e :: */

/* :: padding s :: */
.opt-pt10 {
    padding-top: 10px;
}

.opt-pt20 {
    padding-top: 15px;
}

.opt-pt40 {
    padding-top: 25px;
}

.opt-pt60 {
    padding-top: 30px;
}

.opt-pt80 {
    padding-top: 40px;
}

.opt-pt100 {
    padding-top: 60px;
}

.opt-pb10 {
    padding-bottom: 10px;
}

.opt-pb20 {
    padding-bottom: 15px;
}

.opt-pb40 {
    padding-bottom: 25px;
}

.opt-pb60 {
    padding-bottom: 30px;
}

.opt-pb80 {
    padding-bottom: 40px;
}

.opt-pb100 {
    padding-bottom: 60px;
}

@media all and (min-width: 768px) {
    .opt-pt10 {
        padding-top: 10px;
    }

    .opt-pt20 {
        padding-top: 20px;
    }

    .opt-pt40 {
        padding-top: 30px;
    }

    .opt-pt60 {
        padding-top: 40px;
    }

    .opt-pt80 {
        padding-top: 60px;
    }

    .opt-pt100 {
        padding-top: 80px;
    }

    .opt-pb10 {
        padding-bottom: 10px;
    }

    .opt-pb20 {
        padding-bottom: 20px;
    }

    .opt-pb40 {
        padding-bottom: 30px;
    }

    .opt-pb60 {
        padding-bottom: 40px;
    }

    .opt-pb80 {
        padding-bottom: 60px;
    }

    .opt-pb100 {
        padding-bottom: 80px;
    }
}

@media all and (min-width: 1024px) {
    .opt-pt10 {
        padding-top: 10px;
    }

    .opt-pt20 {
        padding-top: 20px;
    }

    .opt-pt40 {
        padding-top: 40px;
    }

    .opt-pt60 {
        padding-top: 60px;
    }

    .opt-pt80 {
        padding-top: 80px;
    }

    .opt-pt100 {
        padding-top: 100px;
    }

    .opt-pb10 {
        padding-bottom: 10px;
    }

    .opt-pb20 {
        padding-bottom: 20px;
    }

    .opt-pb40 {
        padding-bottom: 40px;
    }

    .opt-pb60 {
        padding-bottom: 60px;
    }

    .opt-pb80 {
        padding-bottom: 80px;
    }

    .opt-pb100 {
        padding-bottom: 100px;
    }
}
/* :: padding e :: */



/* :: margin s :: */
.opt-mt5 {
    margin-top: 5px;
}

.opt-mt10 {
    margin-top: 10px;
}

.opt-mt20 {
    margin-top: 15px;
}

.opt-mt40 {
    margin-top: 25px;
}

.opt-mt60 {
    margin-top: 30px;
}

.opt-mt80 {
    margin-top: 40px;
}

.opt-mt100 {
    margin-top: 60px;
}

.opt-mb10 {
    margin-bottom: 10px;
}

.opt-mb20 {
    margin-bottom: 15px;
}

.opt-mb40 {
    margin-bottom: 25px;
}

.opt-mb60 {
    margin-bottom: 30px;
}

.opt-mb80 {
    margin-bottom: 40px;
}

.opt-mb100 {
    margin-bottom: 60px;
}

.opt-mr5 {
    margin-right: 5px;
}

@media all and (min-width: 768px) {
    .opt-mt10 {
        margin-top: 10px;
    }

    .opt-mt20 {
        margin-top: 20px;
    }

    .opt-mt40 {
        margin-top: 30px;
    }

    .opt-mt60 {
        margin-top: 40px;
    }

    .opt-mt80 {
        margin-top: 60px;
    }

    .opt-mt100 {
        margin-top: 80px;
    }

    .opt-mb10 {
        margin-bottom: 10px;
    }

    .opt-mb20 {
        margin-bottom: 20px;
    }

    .opt-mb40 {
        margin-bottom: 30px;
    }

    .opt-mb60 {
        margin-bottom: 40px;
    }

    .opt-mb80 {
        margin-bottom: 60px;
    }

    .opt-mb100 {
        margin-bottom: 80px;
    }
}

@media all and (min-width: 1024px) {
    .opt-mt10 {
        margin-top: 10px;
    }

    .opt-mt20 {
        margin-top: 20px;
    }

    .opt-mt40 {
        margin-top: 40px;
    }

    .opt-mt60 {
        margin-top: 60px;
    }

    .opt-mt80 {
        margin-top: 80px;
    }

    .opt-mt100 {
        margin-top: 100px;
    }

    .opt-mb10 {
        margin-bottom: 10px;
    }

    .opt-mb20 {
        margin-bottom: 20px;
    }

    .opt-mb40 {
        margin-bottom: 40px;
    }

    .opt-mb60 {
        margin-bottom: 60px;
    }

    .opt-mb80 {
        margin-bottom: 80px;
    }

    .opt-mb100 {
        margin-bottom: 100px;
    }
}
/* :: margin e :: */


/* :: slide s :: */
.basic-slide-container {
    overflow: hidden;
    width: 100%;;
}

.basic-slide ul {
    position: relative;
    display: block;
    /*margin-left:-1px;*/
    width: 100%;
}

.basic-slide ul li {
    position: relative;
    display: inline-block;
    float: left;
}

.basic-slide ul li:first-child {
    margin-left:0;
}

.opacity-slide ul {
    position: relative;
}

.opacity-slide ul li {
    display:none;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    z-index:0;
}

.opacity-slide ul li.op-active {
    z-index:1;
}

.op-indicator {
    z-index: 20;
}

.slide-indicator-btn,
.slide-num {
    display: inline-block;
    vertical-align: top;
}
/* :: slide e :: */