/* :: skip s :: */
.layout-skip {
    width:100%;
    height:0;
    top:0;
    left:0; 
}
.layout-skip a {
    display:block;
    overflow:hidden;
    position:absolute;
    top:0;
    text-indent:-9999px;
}
.layout-skip a:focus{
    width:100%;
    z-index:9999;
    padding:10px 0;
    font-size:13px;
    text-indent:0;
    text-align:center;
    color:#fff;
    background:#444;
}

/* :: skip e :: */



/* :: header s :: */
.mob-gnb-btn {
    display: none;
}

.header {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 9999;
}

.header-wrap {
    width: 100%;
    height: 200px;
    background-color: #fcfcff;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.time-box {
    text-align: right;
    padding-top: 20px;
}

.time-box .tit {
    margin-right: 10px;
    position: relative;
}

.time-box .tit::before {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    right: 100px;
    background: url("/images/layout/clock.png") center center no-repeat;
}

.time-box .desc {
    font-weight: 600;
    font-size: 20px;
}

.header-logo {
    height:50px;
    line-height:50px;
}

.header-top {
    padding-bottom: 73px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.header-etc {
    text-align: right;
}

.header-etc-item {
    height:32px;
    display: inline-block;
    vertical-align: top;
    font-size:15px;
    color:#333;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

.opt-web-hide .header-etc {
    padding-left: 30px;
    background: #fff;
    padding-top: 10px;
    text-align: left;
}

.header-etc-item:last-child {
    margin-right: 0;
}

.gnb {
    vertical-align: top;
    border: 1px solid rgb(241, 240, 240);
    max-width: 1200px;
    margin: -50px auto 0 auto;
    background: #fff;
}

.gnb-wrap {
    position: relative;
}

.gnb-lst > li {
    width: 25%;
    float: left;
}

.gnb-lst > li > a {
    font-size:18px;
    display: block;
    text-align: center;
    height: 52px;
    padding-top: 18px;
    position: relative;
}

.gnb-lst > li > a:before {
    display: block;
    content:"";
    width:0;
    height:3px;
    background:#1ba035;
    position: absolute;
    left:50%;
    margin-left:-35%;
    bottom:0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.gnb-lst > li.active > a:before {
    width:70%;
}

.gnb-dep2-wrap {
    background: #fff;
    overflow: hidden;
    display: none;
}

.gnb-dep2-wrap.active {
    display: block;
}

.gnb-dep2-lst {
    padding:40px 16px 50px;
    border-left:1px solid #eee;
    position: relative;
}

.gnb-lst > li:last-child .gnb-dep2-list {
    border-right:1px solid #eee;
    position: relative;
}

.gnb-dep2-lst li {
    margin-top:15px;
}

.gnb-dep2-lst li:first-child {
    margin-top:0;
}

.gnb-dep2-lst a {
    font-size: 15px;
    color:#444;
}

.gnb-dep2-lst a:hover {
    text-decoration: underline;
}

.gnb-dimed {
    display: none;
    width:100%;
    height:410px;
    background:#fff;
    position: absolute;
    left:0;
    top:180px;
    z-index: -1;
    overflow: hidden;
}

.gnb-dimed.active {
    display: block;
}

.mob-gnb-btn {
    display: none;
}

.footer-lnk-lst {
    background: #f7f7f7;
}

.footer-lnk-lst li {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.footer-lnk-lst li a {
    font-weight: 600;
}

.footer-cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.footer-logo, .footer-txt {
    float: left;
}

.footer-txt {
    margin-left: 30px;
}

.footer-info {
    margin-top: 20px;
    font-weight: 600;
}

@media all and (max-width:1023px){

    .header-wrap {
        height: 85px;
    }

    .header-top {
        padding: 0;
    }

    .header-container {
        padding:0 20px;
    }

    .header {
        height:60px;
    }

    .header-logo {
        display: block;
        width:auto;
        padding:0;
        position: absolute;
        left:20px;
        top:15px;
    }
	
	.header-logo-link {
		top:0;
	}

    .time-box {
        padding: 15px;
        margin-right: 45px;
    }

    .mob-gnb-btn {
        display: block;
        position: absolute;
        right:13px;
        top:14px;
        width:30px;
        height:30px;
        z-index: 55;
    }

    .mob-gnb-btn:before,
    .mob-gnb-btn:after,
    .mob-gnb-btn .ico {
        display:block;
        content: "";
        vertical-align: middle;
        width:100%;
        height: 2px;
        background:#000;
        position:absolute;
        left:0;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
    }
    
    .mob-gnb-btn:before {
        top:50%;
        margin-top:-1px;
    }
    
    .mob-gnb-btn:after {
        bottom:6px;
    }
    
    .mob-gnb-btn .ico {
        top:6px;
    }

    .mob-gnb-btn.active .ico {
        display: none;
    }

    .mob-gnb-btn.active:before,
    .mob-gnb-btn.active:after {
        top:14px;
        background:#fff;
        height:2px;
        margin: 0;
    }

    .mob-gnb-btn.active:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
    }

    .mob-gnb-btn.active:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    }

    .gnb {
        display: block;
        position: fixed;
        width: 70%;
        height:100%;
        right: -900px;
        top:0;
        background:#1ba035;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        padding-top:60px;
        z-index: 52;
        margin: 0;
        border: none;
    }

    .gnb.active {
        right: 0;
    }

    .gnb-lst > li {
        float: none;
        width: 100%;
        border-bottom: 1px solid #59ab67;
        position: relative;
    }

    
    .gnb .gnb-lst > li:after {
        position: absolute;
        display: block;
        content: "";
        right: 15px;
        top: 50%;
        margin-top: -4px;
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #fff;
    }

    .gnb .gnb-lst > li.active:after {
        top: 30px;
        transform: rotate(90deg);
    }

    .gnb-lst > li:last-child {
        border: none;
    }

    .gnb-lst li > a {
        text-align: left;
        margin-left: 30px;
        color: #fff;
    }

    .gnb-dep2-wrap {
        min-height: auto;
    }

    .gnb-dep2-lst {
        padding: 10px;
        min-height: auto;
    }

    .gnb-dep2-lst > li > a {
        color: #000;
        position: relative;
        padding-left: 15px;
    }

    .gnb-dep2-lst > li > a:before {
        display: block;
        position: absolute;
        content: "";
        width: 5px;
        height: 1px;
        background: #000;
        top: 50%;
        left: 0;
    }

    .footer-cont {
        padding: 15px;
    }

    .footer-txt {
        margin-left: 0;
        margin-top: 20px;
    }

    .footer-lnk-lst {
        padding-left: 20px;
    }
}


@media (max-width: 767px) {


    .header-wrap {
        height: 70px;
    }

    .time-box {
        text-align: left;
        margin-left: 20px;
        font-size: 15px;
        position: absolute;
        bottom: 15px;
        padding: 0;
        margin-right: 0;
    }

    .time-box .desc {
        font-size: 13px;
    }
}