<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damtuh.mapper.ProductMapper">

	<resultMap id="productResult"
		type="com.damtuh.product.vo.ProductVO">
		<result property="productId" column="productId" />
		<result property="productName" column="productName" />
		<result property="likeCount" column="likeCount" />
		<result property="productPrice" column="productPrice" />
		<result property="type" column="type" />
		<result property="calorie" column="calorie" />
		<result property="weight" column="weight" />
		<result property="contryOrigin" column="contryOrigin" />
		<result property="modelNum" column="modelNum" />
		<result property="productNum" column="productNum" />
		<result property="state" column="state" />
		<result property="brand" column="brand" />
		<result property="contryProduce" column="contryProduce" />
		<result property="tel" column="tel" />
		<result property="expiryDate" column="expiryDate" />
		<result property="kind" column="kind" />
		<result property="producer" column="producer" />
		<result property="saleVolumn" column="saleVolumn" />
		<result property="fileName" column="fileName" />
		<result property="fileType" column="fileType" />
		<result property="thumbnail1" column="thumbnail1" />
		<result property="thumbnail2" column="thumbnail2" />
		<result property="thumbnail3" column="thumbnail3" />
		<result property="thumbnail4" column="thumbnail4" />
	</resultMap>

	<resultMap id="orderResult"
		type="com.damtuh.member.vo.OrderVO">

		<result property="deliveryId" column="deliveryId" />
		<result property="customerId" column="customerId" />
		<result property="productId" column="productId" />
		<result property="productImage" column="productImage" />
		<result property="productImage" column="productImage" />
		<result property="productName" column="productName" />
		<result property="quantity" column="quantity" />
		<result property="delivery" column="delivery" />
		<result property="productPrice" column="productPrice" />
		<result property="totalPrice" column="totalPrice" />
		<result property="point" column="point" />
		<result property="ordererName" column="ordererName" />
		<result property="ordererTel" column="ordererTel" />
		<result property="ordererPhone" column="ordererPhone" />
		<result property="ordererEmail" column="ordererEmail" />
		<result property="receiverName" column="receiverName" />
		<result property="receiverZip" column="receiverZip" />
		<result property="receiverAddress" column="receiverAddress" />
		<result property="receiverAddressDetail"
			column="receiverAddressDetail" />
		<result property="receiverTel" column="receiverTel" />
		<result property="receiverPhone" column="receiverPhone" />
		<result property="deliveryMemo" column="receiverMemo" />
		<result property="orderDate" column="orderDate" />
		<result property="ordererZip" column="ordererZip" />
		<result property="ordererAddress" column="ordererAddress" />
		<result property="ordererAddressDetail"
			column="ordererAddressDetail" />
	</resultMap>

	<resultMap type="com.damtuh.member.vo.CommentVO"
		id="commentResult">
		<result property="deliveryNum" column="deliveryNum" />
		<result property="productNum" column="productNum" />
		<result property="userId" column="userId" />
		<result property="content" column="content" />
		<result property="likeCount" column="likeCount" />
		<result property="writeDate" column="writeDate" />
	</resultMap>


	<select id="productList" resultMap="productResult">
		<![CDATA[
			select * from product order by productId desc
		]]>
	</select>

	<select id="productDetailList" resultMap="productResult">
		<![CDATA[
			select * from product where productId = #{productId}
		]]>
	</select>

	<update id="likeCheck">
		<![CDATA[
			update product set likeCount = #{likeCount} where productId = #{productId}
		]]>
	</update>

	<select id="selectComment" resultMap="commentResult">
		SELECT *

		FROM
		product_comment

		WHERE content LIKE DECODE(content, NULL, '%', content)
		and productnum =
		#{productId}

		Order By writeDate desc

	</select>

</mapper>